<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/gutenberg.css">
        <link rel="stylesheet" href="css/modern.css">
        <link rel="stylesheet" href="css/style_default.css">
        <link rel="stylesheet" href="css/style_common.css">
    </head>
    <body>
        <div id="hard-sidebar"></div>

        <div id="container">
            <div id="sidebar-bg">
                <div id="sidebar">
                    {{ sidebar|safe }}
                </div>
            </div>
            <div id="content">
                {{ content|safe }}
            </div>
            <div id="theme-buttons">
                <a href="?theme=default">default</a>
                <a href="?theme=light">light</a>
                <a href="?theme=dark">dark</a>
            </div>
        </div>
    </body>
</html>
