

body {
    background: #002b36;
    color: #839496;
    font-family: 'Source Sans Pro';
    text-decoration: none;
}

pre {
    background: #073642;
}

code {
    background: #073642;
    color: #93a1a1;
    font-family: 'Source Code Pro';
}

a {
    color: #268bd2;
}

#hard-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    width: 15%;
    position: absolute;
    background: #073642;
    border-right: 1px solid #586e75;
    margin: 0 0 0 0;
    height: 100%;
}

#sidebar-bg {
    width: 15%;
    position: absolute;
    border-right: 1px solid #586e75;
    margin: 0 0 0 0;
    height: 100%;
}

#sidebar {
    margin-left: 5%;
    margin-top: 100px;
}

#content { 
    max-width: 100ch;
    margin: 0 auto;
    margin-top: 100px;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    margin-top:10px;
    width:100% 
}
