

body {
    /* background: #002b36; base03 */
    background: #fdf6e3; /* base3 */
    /* font-color: #839496; */
    /* color: #839496; base0 */
    color: #657b83; /* base00 */
    font-family: 'Source Sans Pro';
    text-decoration: none;
}

pre {
    /* background: #073642; base02 */
    background: #eee8d5; /* base2 */
    font-family: 'Source Code Pro';
}

code {
    /* background: #073642; base02 */
    background: #eee8d5; /* base2 */
    /* color: #93a1a1; base1 */
    color: #586e75; /* base01 */
    font-family: 'Source Code Pro';
}

a {
    color: #268bd2;
    /* text-decoration: none; */
}

#hard-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    width: 15%;
    position: absolute;
    background: #eee8d5; /* base3 */
    border-right: 1px solid #586e75;
    margin: 0 0 0 0;
    height: 100%;
}

#sidebar-bg {
    width: 15%;
    position: absolute;
    background: #eee8d5; /* base3 */
    border-right: 1px solid #586e75;
    margin: 0 0 0 0;
    height: 100%;
}

#sidebar {
    margin-left: 5%;
    margin-top: 100px;
}

#content { 
    max-width: 100ch;
    margin: 0 auto;
    margin-top: 100px;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    margin-top:10px;
    width:100% 
}
